/*generic rule*/
h{
    scroll-behavior: smooth;  
  }

button:hover{
    opacity: 0.5;
}

/*header*/
.container-link li:hover{
    border-bottom: solid 2px black;
}

.fa-arrow-down:hover{
    position: relative;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    0%   { top:0px;}
    25%  { top:13px;}
    50%  { top:0px;}
    75%  { top:13px;}
    100% { top:0px;}
  }

 