/*generic rule*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.flex{
    display: flex;
}

.justi-sb{
    justify-content: space-between;
}
.justi-sa{
    justify-content: space-around;
}
.wrap{
    flex-wrap: wrap;
}
.aling-it-ce{
    align-items: center;
}
.mw-60{
    max-width: 60vw;
    margin: 0 auto;
}

.mw-65{
    max-width: 65vw;
    margin: 0 auto;
}

.aling-it-bl{
    align-items: baseline;
}

/*end generic rule*/

/*inizio header link*/
.container-header{
    height: 60px;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    position: fixed;
}

.container-link{
    list-style:none ;
    text-decoration: none;
    line-height: 60px;
}

.container-link li a, .container-link li button{
    text-decoration: none;
    margin: 0 15px;
}

.logo-small{
    height: 15px;
    vertical-align: middle;
}

/*fine header link*/

/*inizio hero*/
.hero{
    height: 520px;
    width: 100vw;
    padding-top: 50px;
    background-color: rgb(180, 208, 231);
}


.info-hero li{
    list-style: none;
    margin-bottom: 20px;
}

.info-hero{
    max-height: 30vh;
    overflow: overlay
}

/*fine hero*/
/*inizio main*/
.container-main{
    height: 100%;
    margin-top: 100px;
}

.checktext{
    margin-right: 30px;
}

.checkbox{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: solid rgb(0, 97, 255) 4px ;
    margin-top: 35px;
    display: inline-block;
}

.column{
    margin-top: 35px;
    height: 890px;
    width:calc(100% / 3 - 10px);
    border: solid 1px rgb(222, 222, 224);
}

.row-enterprise{
    margin-top: 35px;
    width: 100%;
    height: 100%;
    border: solid 1px rgb(222, 222, 224);
}

.description-enterprise p, .description-enterprise h5 {
    padding: 15px 0px;
}

.enterprise-main{
    padding: 15px;
    width: 60vw;
}

#btn-plan-enterprise{
    width: 20vw;
    margin-left: 50px;
}

.fundpartner-section{
    margin: 100px 0;
    width: 100%;
}

.img-partner{
    height: 400px;
}

.cards{
    width: calc(100% / 3 - 10px);
    margin:30px 0 100px 0px;
}

.cards img{
    height: 200px;
}

.container-square{
    margin-top: 50px;
}

.square{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    background-color: blue;/*temp*/
    border: solid 1px black;/*temp*/
}

.square-small{
    border: solid 1px black; /*temp*/
    width: 50%;
    height: 50%;
}

.rectangle{
    width: 100%;
    height: 200px;
    background-color: blueviolet;/*temp*/
}

.rectangle-info{
    height: 100%;
}

.faq{
    margin-top: 60px;
    margin-bottom: 60px;   
}

footer{
    background-color: rgb(184, 18, 18);
}

.footer-link{
    height: 100%;
    border: solid 1px white;
}

.column-footer ul li{
    color: white;
    list-style: none;
}

.column-footer{
    padding: 100px 0;
}

.language{
    margin-bottom: 50px;
    border-top: solid 1px white;
}