/*generic rule*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*end generic rule*/

/*inizio header link*/
.container-header{
    height: 60px;
    width: 100vw;
    background-color: aqua;
    display: flex;
    position: sticky;
    justify-content: space-between;   
    align-items: center;
}

.container-link{
    display: flex;
    list-style:none ;
    text-decoration: none;
}

.container-link li a, button{
    text-decoration: none;
    margin: 0 15px;
}

.logo-small{
    height: 20px;
}
/*fine header link*/

/*inizio hero*/
.hero{
    height: 550px;
    width: 100vw;
    background-color: tomato;
}

.container-info-hero{
    height: 600px;
    max-width: 75vw;
    margin: 0 auto;
    background-color: bisque;
}

.title-hero{
    padding-top: 40px;
    margin-bottom: 25px;
    font-size: 28px;
}

.info-hero li{
    list-style: none;
    margin-bottom: 20px;
}

.start-trial{
    margin: 0;
}

.arrow-down{
    margin-top: 110px;
}

.img-hero{
    height: 420px;
}

.hero-main{
    display: flex;
}
/*fine hero*/
/*inizio main*/
.container-main{
    max-width: 70vw;
    margin: 0 auto;
    height: 100%;
    margin-top: 100px;
    background-color: blueviolet;
}

.checktext{
    margin-right: 30px;
}

.checkbox{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: solid blue 4px;
    margin-top: 35px;
    display: inline-block;
}

.column{
    margin-top: 35px;
    height: 550px;
    width:calc(100% / 3 - 30px);
    border: solid 1px black;
}

.column-container{
    display: flex;
    justify-content: space-between;
}

.row-enterprise{
    margin-top: 35px;
    width: 100%;
    height: 150px;
    border: solid 1px black;
}

.descriprion-enterprise{
    flex-direction: column;
}

.enterprise-main{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.fundpartner-section{
    margin: 50px 0;
    display: flex;
    align-items: center;
}

.img-partner{
    height: 450px;
}

.container-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards{
    width: calc(100% / 3 - 10px);
    margin:30px 0 100px 0px;
}

.cards img{
    height: 200px;
}

.container-square{
    display: flex;
}

.square{
    height: 200px;
    width: 20vw;
    background-color: red;
    border: solid 1px black;
}

.square-big{
    height: 400px;
    width: 60vw;
    background-color: blue;
}