/*generic rule*/
.btn-blue{
    background-color: rgb(0, 97, 255);
    border: none;
}

.btn-big{
    padding: 10px;
}

/*header link*/
.container-link li a{
    font-size: 12px;
    color: black;
}

.btn-start{
    padding: 5px 10px 5px 10px;
}


/*hero*/
.title-hero{
    padding-top: 45px;
    margin-bottom: 30px;
    font-size: 25px;
}

.title-hero h1{
    font-weight: 900;
}

.img-hero{
    height: 320px;
}

.info-hero li{
    font-size: 13px;
}

.info-hero li a{
    text-decoration: none;
}

.start-trial{
    margin: 0;
}

.arrow-down{
    padding-top: 20px;
}

.fa-arrow-down{
    font-size: 35px;
    color: black;
}

/*main*/
.container-main h1{
    font-size: 30px;
}

.selection span{
    font-size: 14px;
}

.description-plan{
    text-align: center;
    font-size: 13px;
    padding: 10px 0;
    border-bottom: solid 1px rgb(222, 222, 224);
}

.icon{
    padding: 0 5px;
}

.content-column{
    font-size: 14px;
    padding: 15px;
}

.price-column, .content-plan, .content-plus{
    padding: 10px 0;
}

.price-column p:first-child{
    font-weight: bold;
}

.price-column p:last-child{
    color: rgb(177, 177, 176);
}

.price-column p, .content-plan p, .content-plus p{
    padding: 10px 0;
}

.btn-column{
    margin: 30px 0;
    width: 100%;
}

.column p a{
    margin-left: 3px;
}

.column p a, .column .fa-check{
    color: rgb(0, 95, 255);
}

.hr-small{
    margin: 20px 200px 20px 0px;
}

.description-enterprise p{
    font-size: 14px;
}

.description-partner{
    padding-left: 22px;
    margin-bottom: 115px;
    font-size: 15px;
}

.description-partner p{
    padding: 18px 0;
}

.cards h2{
    margin: 15px 0 30px 0;
}

#link-customers{
    color: rgb(0, 95, 255);
}

.customers-show{
    background-color:rgb(245, 245, 245);
    font-size: 12px;
    padding: 45px;
}

.customers-show img{
    height: 15%;
    margin-bottom: 20px;
}

.customers-show p{
    margin: 20px 0;
}

.customers-1{
    background-color: rgb(162, 211, 155);
    border: solid 10px rgb(162, 211, 155);
}

.customers-2{
    background-color: rgb(97, 8, 43);
    border: solid 10px rgb(97, 8, 43);
}

.customers-3{
    background-color: rgb(0, 147, 206);
    border: solid 10px rgb(0, 147, 206);
}

.customers-4{
    background-color: rgb(255, 28, 28);
    border: solid 10px rgb(255, 28, 28);
}

.customers-5{
    background-color: rgb(213, 0, 31);
    border: solid 10px rgb(213, 0, 31);
}

.customers-6{
    background-color: rgb(180, 208, 231);
    border: solid 10px rgb(180, 208, 231);
}

.customers-7{
    background-color: rgb(13, 36, 129);
    border: solid 10px rgb(13, 36, 129);
}

.customers-8{
    background-color: rgb(255, 216, 48);
    border: solid 10px rgb(255, 216, 48);
}